@page "/cars/{CarId}"
@inject HttpClient HttpClient
@using System.Text.Json
@using System.Net.Http.Json

<PageTitle>Car Details</PageTitle>

@if (car == null)
{
    <p>Loading...</p>
}
else
{
    <h1>@car.Type - @car.Color</h1>
    <p>ID: @car._id</p>
    <p>Seats: @car.Seats</p>
    <p>Power: @car.Power</p>
    <p>Current Mileage: @car.Curr_mileage</p>
    <p>Price per Day: @car.Price_per_day</p>
    <p>Production Year: @car.Production_year</p>
    <p>Is Available: @car.IsAvailable</p>
}

@code {
    [Parameter]
    public string CarId { get; set; }

    private Car car;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            car = await HttpClient.GetFromJsonAsync<Car>($"http://localhost:5000/api/car/Cars/{CarId}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
}
